.top {
  background-image: url(src/assets/hero-bg.jpg);
  background-size: cover;
  background-position: center 50%;
  border-radius: 0 0 100px 100px; /* Applies border-radius to the bottom only */
}

.slightly-right {
  margin-left: 20px; /* This moves the text to the right by 200px */
}
.slightly-righta {
  margin-left: 150px; /* This moves the text to the right by 200px */
}

/* Change color of <li> elements to black */
header .nav-item {
  color: black;
}

/* Optional: If you want to ensure text stays black even when hovered */
header .nav-item .nav-link {
  color: black; /* Default text color */
}

/* Optional: Change text color on hover */
header .nav-item .nav-link:hover {
  color: #555; /* You can adjust the hover color if needed */
}

h1.display-5 {
  margin-top: 5px !important;
  font-size: 3rem !important; /* Increase font size */
  line-height: 1.5 !important; /* Increase line spacing */
}
